.navbar{
    width: 110px;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction:column;
    padding: 30px 15px;
    background-color: $tertiary_color;
    img{
        width: 60px;
        height: 60px;
        background-color: $primary_color;
        border-radius: 30px;
        margin-bottom: 50px;
        transition: .4s ease-in-out;
    &:hover{
        scale: 1.2;
    }
        
    }
    nav{
        flex: 1;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            height: 100%;
            li{
                list-style: none;
                width: 80px;
                height:72px;
                margin-bottom: 10px;
                &:hover{
                    background-color: $primary_color;
                    border-radius: 20px;
                }&:hover a{
                    color:$tertiary_color;
                }&.active{
                        background-color: $primary_color;
                        border-radius: 20px;

                    }
                a{
                    padding: 15px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 12px;
                    
                    i{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    .deconex{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 65px;
        padding: 10px ;
        &:hover{
            background-color: $primary_color;
            border-radius: 20px;
        }&:hover a{
            color: $tertiary_color;
        }
        a{
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            i{
                width: 24px;
                height: 24px;
            }
        }
    }
}